<div class="container w-100 mt-5 mb-5">
    <div class="row w-100">
        <div class="col-md-12">
            <header class="mt-5 justify-content-center">
                <section class="text-light text-center">
                    <h2>Ei, não há nada aqui</h2>
                    <p>Talvez seja melhor não encarar por muito tempo.</p>
                </section>

                <img *ngIf="router.url === '/error'" alt="Um rapaz alto veste blusa cinza com mangas longas e está em pé encarando o vazio." src="../../assets/undraw_void_3ggu.svg"
                    class="w-60 pl-5 mt-5 img-fluid">
            </header>
        </div>
    </div>
</div>