@import url("https://fonts.googleapis.com/css2?family=Libre+Barcode+128&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html, body{
  margin: 0 !important;
  padding: 0 !important;
}

body {
  background-color: black !important;
  font-family: 'Montserrat', sans-serif !important;
}

.bg-black{
    background-color: black !important;
}

/* BARRINHA DO CONTADOR */
.set-height{
  min-height: 70px !important;
}

.fixed-top-2 {
  margin-top: 70px !important;
}

.card-columns {
  column-count: 3 !important;
}

.card {
  margin-bottom: 1.25rem !important;
}

.set-w-card{
  min-width: 205px !important;
}

.toggle-borda-card{
  border: 5px solid aquamarine !important;
}

h2 {
  margin-bottom: 0 !important;
}

.display-4{
  font-size: clamp(20px, 5vw + 10px, 56px) !important;
}

.barcode {
  font-family: "Libre Barcode 128", cursive;
    transform: rotate(180deg);
    font-size: 3.5em;
}

hr {
  margin-top: 0 !important;
  border-top: 4px dotted rgba(0, 0, 0, 0.5) !important;
}

.vl {
  border-left: 4px dotted rgba(0, 0, 0, 0.5) !important;
}

/* BUTTONS */

.btn{
  color: white !important;
}

.red-button{
    background-color:#E1030E !important;
}

.dark-red-button{
    background-color:#AA2124 !important;
}

.dark-gray-button{
  background-color: #3F3D56 !important;
}

/* SWEET ALERT */
.swal2-icon-content-waning, .swal2-icon.swal2-warning{
  color:#E1030E !important;
  border-color: #E1030E !important;
}

/* MEDIA QUERIES */
@media (max-width: 991px) {
  .card-columns {
    column-count: 2 !important;
  }
}

@media (max-width: 575px) {
  .card-columns {
    column-count: 1 !important;
  }
}